#multiscroll{

    .ms-left{
       #left-1{
            background-color: coral;
        }

        #left-2{
            background-color: deeppink;
        }

        #left-3{
            background-color: lightseagreen;
        }
    }

    .ms-right{

        #right-1{
            
            background-color: coral;
        }

        #right-2{
            
            background-color: deeppink;
        }

        #right-3{
            
            background-color: lightseagreen;
        }
    }
}