#multiscroll{

    .ms-left{

        .ms-section{

            padding: 8vh 8vh 2vh 2vh;
            
            h1{
                font-size: 24px;
                line-height: 109.4%;
            }

            h2{
                margin-top: 2%;
                font-weight: 500;
                font-size: 14px;
            }
                
            p{
                margin-top: 20%;
                width: 80%;
                font-size: 12px;
            }

            @include md {
                
                padding: 8vh 8vh 3vh 3vh;

                h1{
                    font-size: 36px;
                }
    
                h2{
                    font-size: 24px;
                }
                    
                p{
                    margin-top: 40%;
                    font-size: 14px;
                }
            }

            @include lg {
                
                padding: 8vh 8vh 4vh 4vh;

                h1{
                    font-size: 48px;
                }
    
                h2{
                    font-size: 30px;
                }
                    
                p{
                    font-size: 16px;
                }
            }
        }

       #left-1{
            background-color: #86998C;
            color: #DB2518;
            font-family: Futura;
            font-weight: 500;

            h1{
                -webkit-text-stroke: 1px #DB2518;
                letter-spacing: 0.08em;
                font-weight: bold;
            }

            @include md {
                h1{
                    -webkit-text-stroke: 2px #DB2518;
                    letter-spacing: 0.11em;
                    font-weight: bold;
                }
            }
        }

        #left-2{
            background-color: #BC988E;
            font-family: Sanchez;
            color: #211718;
            font-family: Futura;
            font-weight: 500;

            h1{
                font-family: Sanchez;
                font-style: italic;
            }
        }

        #left-3{
            background-color: #F6A186;
            font-family: DIN Condensed;
            color: #4F1E33;

            h1{
                font-family: Ernestine Pro;
                -webkit-text-stroke: 2px #4F1E33;
                letter-spacing: 0.11em;
                font-weight: 400;
            }
        }

        #left-4{
            background-color: #4E7655;
            font-family: Futura;
            color: #ECC492;

            h1{
                color: transparent;
                -webkit-text-stroke: 2px #ECC492;
                letter-spacing: 0.11em;
                font-weight: 500;
            }
        }

        #left-5{
            background-color: #203D4B;
            font-family: Futura;
            color: #D3B877;

            h1{
                color: transparent;
                -webkit-text-stroke: 2px #ECC492;
                letter-spacing: 0.11em;
                font-weight: 700;
            }
        }

        #left-6{
            background-color: #282120;
            font-family: Futura;
            color: #C37D3E;

            h1{
                font-family: Ballet;
                font-weight: 400;
                font-size: 50px;

                @include lg {
                    font-size: 80px;
                }
            }
        }

        #left-7{
            background-color: #E8D1B8;
            font-family: Helvetica;
            color: #551F10;

            h1{
                font-weight: 700;
                letter-spacing: 0.11em;
            }
        }
    }

    .ms-right{

        #svg-container{
            position: absolute;
            top: 80%;
            left: 80%;
            z-index: 3;
        }

        .ms-section aside{

            padding: 8vh;

            @include md {
                display: flex;
                align-items: flex-start;
                justify-content: space-around;
            }

            h3{
                font-size: 12px;
                margin: 2vh;
                
                @include md {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-around;
                    font-size: 14px;
                }
            
                @include lg {
                    font-size: 16px;
                }
            }
        }

        #right-1{
            background-image: url("../img/the_royal_tenenbaums.jpg");
            background-size: cover;
            background-position: center;
            font-family: Futura;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.11em;
            color: #FFFFFF;
        }

        #right-2{
            background-image: url("../img/isle_of_dogs.png");
            background-size: cover;
            background-position: center;
            font-family: Sanchez;
            font-style: italic;
            text-align: center;
            letter-spacing: 0.11em;
            color: #FFFFFF;
        }

        #right-3{
            background-image: url("../img/grand_budapest_hotel.jpeg");
            background-size: cover;
            background-position: center;
            font-family: Ernestine Pro;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.11em;
            color: #FFFFFF;
        }

        #right-4{
            background-image: url("../img/the_life_aquatic.jpg");
            background-size: cover;
            background-position: center;
            font-family: Futura;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.11em;
            color: transparent;
            -webkit-text-stroke: 1px #FFFFFF;;
        }

        #right-5{
            background-image: url("../img/the_limited.jpeg");
            background-size: cover;
            background-position: center;
            font-family: Futura;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.11em;
            color: #FFFFFF;
        }

        #right-6{
            background-image: url("../img/moonrise_kingdom.jpeg");
            background-size: cover;
            background-position: center;
            font-family: Futura;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.11em;
            color: #FFFFFF;
        }

        #right-7{
            background-image: url("../img/fantastic_mr.fox.jpeg");
            background-size: cover;
            background-position: center;
            font-family: Helvetica;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.11em;
            color: #FFFFFF;
        }
    }
}